@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

:root {
    --lightGreen: #C1FFE1;
    --lightYellow: #FAFFF4;
    --purple: #AF4FBE;
    --red: #CB5151;
    --blue: #5182CB;
    --almostWhite: #FCFFF8;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Comic Neue', cursive;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    
}

.header {
    display: flex;
    height: 5rem;
    background-color: var(--lightGreen);
    justify-content: space-between;
}

.hamb-menu {
    display: flex;
    background-color: var(--lightGreen);
    height: 100%;
    width: 90px;
    top: 5px;
    align-items: center;
    justify-content: center;
}

.hamb-line {
    background-color: #00A455;
    height: 3px;
    width: 45px;
    position: relative;
}

.hamb-line::before,
.hamb-line::after{
    background: #00A455;
    content:'';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.hamb-line::before {
    top: 12px;
}

.hamb-line::after {
    top: -12px;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: absolute;
    top: 80px;
    left: 0px;
    background-color:var(--lightGreen);
    height: auto;
    width: 139px;
    list-style: none;
}

.dropdown-menu li {
    width: 100%;
    border-top: 3px solid var(--purple);
}

.dropdown-menu ul {
    padding: 0;
}

.dropdown-menu a {
    display: block;
    width: 100%;
    text-decoration: none;
    padding-left: 10px;
    padding-top: 10px;
    color: var(--purple);
    font-size: 18px;
    font-weight: 700;
}

.hamb-menu:hover > .dropdown-menu {
    display: flex; 
}

.logo {
    display: flex;
    justify-content: center;
    background-color: var(--lightGreen);
    height: 100%;
    width: 140px;
    align-items:flex-end;
}

.logo-img {
    width: 6rem;
    height: auto;
}

.account-menu {
    background-color: #ffffff;
    height: 100%;
    width: 5rem;
    padding: 10px;
}

.account-menu img {
    width: 100%;
    height: 100%;
}

.main{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100vh;
}

.first-div {
    display: block;
    padding-top: 0.5rem;
    text-align: center;
    height: 24rem;
    background-color: var(--lightYellow);
}

.main-span {
    color: var(--purple);
    font-size: 32px;
    font-weight: 700;
}

.box-1 {
    align-self: center;
    justify-items: center;
    background-color: var(--almostWhite);
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.222) ;
}

.image {
    width: 100%;
    height: 85%;
}

.image > img {
    margin-top: 10px;
    height: 90%;
    width: auto;
}

.box-1-span {
    color: var(--purple);
    font-weight: 700;
    font-size: 32px;
}

.second-div {
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
    justify-items: center;
}

.box-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    background-color: var(--almostWhite);
    width: 80%;
    height: 90%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.222)
}

.second-div-span {
    color: var(--purple);
    font-weight: 700;
    font-size: 30px;
}

.form {
    width: 387px;
    color: var(--purple);
    font-size: 18px;
    font-weight: 700;
}

.form label {
    display: inline-block;
    width: 110px;
}

.form input {
    background-color: rgb(232, 232, 232);
    outline: none;
    border: none;
    padding: 5px;
    width: 200px;
    margin-left: 50px;
    margin-top: 40px;
}

.save-card {
    color: var(--purple);
    font-size: 18px;
    font-weight: 700;
    margin-left: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
}

input::placeholder {
    color: var(--purple);
    font-weight: 700;
    font-size: 22px;
    text-align: center;
}

.checkbox {
    color: var(--purple);
    font-size: 16px;
    font-weight: 700;
}

.verify {
    margin-bottom: 10px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    padding: 4px 50px 4px 50px;
    background-color: var(--blue);
    border-radius: 25px;
}

.verify a {
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

.edit {
    display: flex;
    justify-content: center;
    color: white;
    height: 60px;
    width: 150px;
    font-size: 24px;
    font-weight: 700;
    padding: 4px 20px 4px 20px;
    background-color: var(--red);
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.edit a {
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

.footer{
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 4rem;
    background-color: var(--lightGreen);
}

.footer > :first-child {
    font-size: 1.9rem;
}

.footer > div {
    font-size: 1.5rem;
}

@media (max-width: 487px) {
    .form {
        width: 100%;
        font-size: 16px;
    }
    
    .form label {
        display: inline-block;
        width: 100px;
    }
    .form input {
        width: 150px;
        margin-left: 20px;
    }
}

@media (max-width: 387px) {
    .image > img {
        margin-top: 10px;
        height: 90%;
        width: 15rem;
    }

    .box-2 li {
        list-style: none;
        margin-top: 30px;
        color: var(--purple);
        font-size: 18px;
        font-weight: 700;
    }

    .form input {
        width: 100px;
        margin-left: 20px;
    }
}


@media (max-height:940px) {
    .main{
        height: 940px;
    }
}
